/*@import url('https://fonts.googleapis.com/css?family=Play');*/

.loader{
    background: url(ajax-loader.gif) no-repeat;
    width: 70px;
    height: 70px;
}
body{
    background: #fff;
    color: #4e4545;
    font-family: Arial, Helvetica, sans-serif;
}
#contenu_ppal{
    min-height: 620px;
}
#container-map-selector{height: 480px;}
#map-selector{height: 530px}

.index_btn_active{
    background: #41d31c;
    color: #000;
}
h1{
    font-size: 27px;
    text-align: center;
    margin-top: 0;
}
h2{
    margin: 0;
    font-size: 20px;
    color: #1C3144; /* 1C3144 */
}
h3{
    font-size: 16px;
    margin: 10px 0;
    text-align: center;
}
h4{
    font-size: 15px;
    padding: 3px;
    margin: 0 0 10px;
    text-align: center;
    background: #276298;
    color: #FFF;
    padding-bottom: 7px;
}
h5{
    font-size: 15px;
    font-weight: bold;
}
hr{
    margin: 0;
    border-color: #1C3144;
}
.glyphicon-help{
    font-size: 20px;
    cursor: pointer;
}
.page-header{
    margin: 10px 0 20px;
}
.box-content{
    background: #fff;
    -webkit-box-shadow: 1px 1px 15px 0px rgba(115,108,115,1);
    -moz-box-shadow: 1px 1px 15px 0px rgba(115,108,115,1);
    box-shadow: 1px 1px 15px 0px rgba(115,108,115,1);
    padding: 10px;
    margin-bottom: 10px 0;
}
/*************************************************************************************/
/*** NAVBAR ***/
.navbar{
    border-radius: 0;
    border: 0;
}
.navbar .navbar-nav{
    float: none;
    display: inline-block;
    vertical-align: top;
}
.navbar-inverse{
    background: #7abaf5;
}
.navbar-nav>li>.dropdown-menu{
     margin-top: 3px;
}
.dropdown-menu>li>a{
    padding: 0 20px;
}
.navbar .navbar-brand span{
    font-size: 20px;
    background: #FFF;
    padding: 3px 7px;
    border-radius: 5px;
    color: #000;
}
.navbar-inverse .navbar-nav>li>a{
    font-size: 13px; 
    color:#FFF;   
}
.navbar-inverse .navbar-nav>li>a:hover{
    color:#dbf549;
    background: dodgerblue;   
}

.navbar-inverse .navbar-nav>.active>a{
    background: dodgerblue;   
   }
.navbar-inverse .navbar-nav .glyphicon:not(.glyph_menu_admin){
    color:#fff;
}
.menu_txt{
    text-shadow:1px 2px 3px rgba(0,0,0, 0.5);
}
    

/* form recherche */
#index_search{
    width: 450px;
}
/*************************************************************************************/
/*** FOOTER ***/
footer {
    width: 100%;
    background-color: #7abaf5;
    color: #000;
    text-align: center;
 }
 /*************************************************************************************/
/* modal connexion/inscription */
/*.modal-header{
    padding: 15px;
}*/
.modal-title{
    background: #FFF;
    color: #000;
    font-size: 20px;
}
/*************************************************************************************/
/*** INDEX ***/
#section_login{
    margin-bottom: 5px;
}
#index_nb_annonces,#index_titre_carte{
    font-size: 15px;
    font-weight: bold;
    
}
#index_nb_annonces_ggl{
    font-weight: bold;
}
#infos_connexion{
    margin-bottom: 10px;
}
#index_login{
    font-size: 12px;
}
.index_encart_pub{
    border: 1px solid grey;
    
}
#index_marque{
    font-size: 15px;
    font-weight: bold;
}
#index_btn_publier{
    color: yellow;
}

/* Makes images fully responsive */
.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
}

/* ------------------- Carousel Styling ------------------- */
.carousel-inner {
  border-radius: 5px;
  margin: 10px 0;
}

.carousel-caption {
  background-color: rgba(0,0,0,.5);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
}
.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 15px 15px 0;
  text-align: right;
}
.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

#index_encart_pub3{
    margin-bottom: 0;
}

/*************************************************************************************/
/*** MENU ADMIN ***/
.badge_menu_admin{
    background-color: #999;
    font-size: 11px;
}
.glyph_menu_admin{
    margin-right: 10px;
}
#admin-items.dropdown-menu>li>a,
#espace-membres.dropdown-menu>li>a  {
    text-align: left;
    color:#000;
    padding: 1px 10px;
    width: 250px;
}
#espace-membres.dropdown-menu>li>a {
    width: 200px;
}
.content-admin{
    margin-bottom: 20px;
}
ul#menu_admin {
    list-style: none;
    /*padding: 10px 0;*/
}

ul#menu_admin li a{
    display: block;
    float: left;
    border: #276298;
    width: 16.66%;
    text-align: center;
    color:#FFF;
    font-size: 14px;
    text-transform: capitalize;
    text-decoration: none;
    padding: 2px 0;
}
ul#menu_admin li a:hover{
    font-style: italic;
    text-decoration: none;
    color: lightslategray;
}
/*** HOME ***/
.affiche{
    height:75%;
    width: 75%;
    /*width: 220px;*/
}
h3.titre_fiche{
    text-align: left !important;
    margin-top: 0;
}
.fiche_annonce{
    margin-top:10px;
}
img.img-thumbnail.img-responsive{
    margin-top:10px !important;
}
.prix_annonce{
    font-size: 1.5em;
    margin-left:230px;
}
.glyphicon.glyphicon-star{
    margin-left:10px;
}
.voir_plus{
    margin-top:30px;
}

/* potentiometre prix */
input[type='range'] {
    -webkit-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #333;
    background-color: #999;
    height: 10px;
    vertical-align: middle;
   }
   input[type='range']::-moz-range-track {
     -moz-appearance: none;
     border-radius: 5px;
     box-shadow: inset 0 0 5px #333;
     background-color: #999;
     height: 10px;
   }
   input[type='range']::-webkit-slider-thumb {
     -webkit-appearance: none !important;
     border-radius: 20px;
     background-color: #FFF;
     box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
     border: 1px solid #999;
     height: 20px;
     width: 20px;
   }
   input[type='range']::-moz-range-thumb {
     -moz-appearance: none;
     border-radius: 20px;
     background-color: #FFF;
     box-shadow:inset 0 0 10px rgba(000,000,000,0.5);
     border: 1px solid #999;
     height: 20px;
     width: 20px;
   }

/*************************************************************************************/
/*** PROFIL ***/
#sect_profil_infos{
    margin-bottom: 30px;
}
#sect_note_avis .glyphicon.glyphicon-star,
#sect_note_avis .glyphicon-star-empty {
    font-size: 1.5em;
}
/*************************************************************************************/
/* SELECT */
.select_cat{
    float: none;
    padding:0;
}
/*************************************************************************************/
/* TABLE */
table.table-striped{
    width:100%;
}
table.table-striped th
{
    padding:10px;
    text-align: center;
    border:1px solid black;
   
}
.table-striped td
{
    padding:10px;
    text-align: center;
    border:1px solid black;
}
th.th_categorie{
    width:10%;
}
.th_membre{
    width:15%;
}
th.th_titre{
    width:12%;
}
th.th_motscles{
    width:67%;
}
th.th_actions{
    width:12%;
}
.glyphicon.modif{
    padding: 10%;
}
.glyphicon{
    color:#647ab7;
}
/*************************************************************************************/
/* LIENS */
.link_categorie{
    margin-top: 25px;
    text-decoration: none;
    text-align: center;
}
/*************************************************************************************/
/* FORMULAIRE */

.text_ajout_categorie, .text_modif_categorie{
    margin-top:-10px;
}
.center-block{
    margin-top:10px;
}
/* HOMEE */
h3.titre_fiche{
    text-align: left !important;
}
.fiche_annonce{
    margin-top:10px;
}
img.img-thumbnail.img-responsive{
    margin-top:10px !important;
}
.prix_annonce{
    font-size: 1.5em;
    margin-left:230px;
}
.glyphicon.glyphicon-star{
    margin-left:10px;
}
.voir_plus{
    margin-top:30px;
}

/*************************************************************************************/
/* FICHE ANNONCE */
h2.titre_fiche{
    margin:15px;
    font-size: 30px;
    /* display: inline; */
}
.desc_annonce{
    margin-top:20px;
}
.desc_annonce button.btn.btn-primary{
    margin-left:350px;
}
span.date{
    margin-left:15px;
}
img.img-responsive{
    margin-bottom: 15px;
}
.plan{
    padding:0;
    margin-top:15px;
}
.autre{
    margin-top:15px;
    margin-left:15px;
    margin-bottom:15px;
}
.retour{
    display: inline;
}
/*************************************************************************************/
/* STATISTIQUES */
h3.publie{
    text-align: left;
}
ul.publie{
    list-style-type: none;
}
h2.stat{
    margin-top:15px;
}